#immagineSolo{
    margin-left: 100px;
    margin-right: 100px;
    width: 280px;
    height: 420px;
}
#paragrafo{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
#linea{
    margin-left: 100px;
    margin-right: 100px;
}